
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header ">
    <a class="navbar-brand" href="#">
    <%= image_tag 'logo2.jpg', id: 'Logo' %> Dance School
  </a>
  
    </div>
    <ul class="nav nav-pills navbar-left">
    <li><a href="/student">Home</a></li>
    <li><a href="/instructors">Instruktorzy</a></li>
      <li><a href="/cours">Grafik</a></li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Moje Zajęcia
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
          <a class="dropdown-item text-white" href="/my_course">Zapisany na kursy</a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <a class="dropdown-item text-white" href="/my_lesson">Zapisany na lekcje</a>
        </li>
      </ul>
    </li>
     
    </ul>
    <div class="navbar-right" style="display: flex; align-items: center; margin-left: 10px;">
      <button type="button" class="btn btn-primary btn btn-default navbar-btn"><%= link_to "Profil", "/student_profile", style:"color:white; text-decoration: none;" %></button>
<%= button_to "Wyloguj się", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-default navbar-btn", style: "color:white; text-decoration: none;" %>
    </div>
  </div>
</nav>


</div>

<center><h2>Moje lekcje</h2>
<% if @lessons.present? && @lessons.any? %>
      <div class="row">
 <% @lessons.each do |lesson| %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
  <%= render 'lessons/my_lesson', lesson: lesson %>
   </div>
<% end %>
      </div>
<% else %>
  <h2>Nie jesteś zapisany na żadne lekcje.</h2>
<% end %>
</center>



<script>

function redirectToMatchingBookmark() {
 
    var searchText = document.getElementById('searchInput').value.toLowerCase();

    var bookmarks = document.querySelectorAll('.bookmark');

    for (var i = 0; i < bookmarks.length; i++) {
        var bookmark = bookmarks[i];
      
        var bookmarkText = bookmark.innerText.toLowerCase();

        if (bookmarkText.includes(searchText)) {
            // Przekieruj do pasującej zakładki
            window.location.href = bookmark.href;
            return;
        }
    }

    alert("Nie znaleziono pasującej zakładki");
}

document.getElementById('searchButton').addEventListener('click', function() {
    redirectToMatchingBookmark();
});

</script>