
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header ">
    <a class="navbar-brand" href="#">
    <%= image_tag 'logo2.jpg', id: 'Logo' %> Dance School
  </a>
  
    </div>
    <ul class="nav nav-pills navbar-left">
    <li class="active"><a href="/teacher">Home</a></li>
      <li><a href="/cours">Grafik</a></li>
      <li><a href="/own_course">Prowadzone Zajęcia</a></li>
      <li><a href="/teacher_profile">Profil</a></li>
      <li><a href="/teacher_sign_out">Wyloguj</a></li>
    </ul>
    <form class="navbar-form navbar-right" style="display: flex; align-items: center;">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Szukaj na stronie...">
      </div>
      <button type="submit" class="btn btn-default" id="searchButton"><b> 🔎 </b></button>
    </form>
    <div class="navbar-right" style="display: flex; align-items: center; margin-left: 10px;">
      <button type="button" class="btn btn-primary btn btn-default navbar-btn"><%= link_to "Profil", "/teacher_profile", style:"color:white; text-decoration: none;" %></button>
<%= button_to "Wyloguj się", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-default navbar-btn", style: "color:white; text-decoration: none;" %>
    </div>
  </div>
</nav>
Witaj 
Jako nasz instruktor, jesteś kluczowym ogniwem w tworzeniu inspirującego środowiska tanecznego. Wierzymy, że każdy z naszych uczniów zasługuje na profesjonalne nauczanie i indywidualne podejście. Oferujemy wsparcie w rozwijaniu Twoich umiejętności pedagogicznych oraz dostęp do nowoczesnych materiałów szkoleniowych. Razem możemy inspirować kolejne pokolenia tancerzy!

</div>



<footer class="footer">
    <p>&copy; 2024 Dance School</p>
</footer>

<script>

function redirectToMatchingBookmark() {
 
    var searchText = document.getElementById('searchInput').value.toLowerCase();

    var bookmarks = document.querySelectorAll('.bookmark');

    for (var i = 0; i < bookmarks.length; i++) {
        var bookmark = bookmarks[i];
      
        var bookmarkText = bookmark.innerText.toLowerCase();

        if (bookmarkText.includes(searchText)) {
            // Przekieruj do pasującej zakładki
            window.location.href = bookmark.href;
            return;
        }
    }

    alert("Nie znaleziono pasującej zakładki");
}

document.getElementById('searchButton').addEventListener('click', function() {
    redirectToMatchingBookmark();
});

</script>