<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="turbo-visit-control" content="reload">

<title>Dance School</title>
<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<link rel="icon" type="image.jpg" href="assets/logo2.jpg">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<style>
body { background-color:#bfeaff;
font-family: 'Merriweather', serif;
}
h2 {
  font-family: Dancing Script, cursive;
  font-weight: 900;
}

  .footer {
            position: fixed;
            bottom: 0;
            text-align: center;
            width: 100%;
            height: 60px; 
            line-height: 60px; 
            background-color: #66d3fa;
          }
img#Logo{
height:200%;
width:auto;
display: inline;
margin-top: -10px;
}
  .navbar-nav > li {
    display: inline-block; 
  }
  .navbar-nav {
    display: inline-block;
    float: none; 
    margin:10px;
    gap: 15px;
  }
  .navbar-nav > li:hover {
    color: #ffeb3b !important; 
    background-color: #e91e63 !important; 
}
  .navbar {
      background-color:  #a970d4;
      color: #ffeb3b ;
      border-color: #e7e7e7;   
      display: block !important;  
    }
    .navbar-nav > li.active > a{
    background-color: #fcfcfc !important;  
    color: #000 !important;       
}
.navbar-nav > li > a {
  color: #000000 !important; 
}
.navbar-nav > li:hover > a {
            color: #ffeb3b !important; 
            background-color: #e91e63 !important; 
        }
        .navbar-brand {
          color:  #ffeb3b !important; 
            
        }

        .navbar > .container-fluid{
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important; 
display: block !important;
        }

        .navbar-brand {
  padding-left: 20px; 
}

.navbar-right {
  margin-left: auto; 
  margin-right: 20px; 
}

.navbar-right .btn {
  margin-right: 10px; 
}

.nav-pills {
  margin-top:7px !important;
  margin-left:17px !important;
}

a{
  color: #ffeb3b;    
}

 .course-card {
    background-color: #ffe4e1; /* Jasnoróżowe tło */
    border: 1px solid #ff69b4; /* Różowa ramka */
  }
  .course-card-header {
    background-color: #ff69b4; /* Intensywny róż w nagłówku */
    color: white; /* Biały tekst */
  }
  .course-card-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .course-card-text {
    margin-bottom: 1rem; /* Odstęp między tekstami */
  }

  .card {
    background-color: #ffe4e1; /* Jasnoróżowe tło */
    border: 1px solid #ff69b4; /* Różowa ramka */
  }

  .bg-pink {
  background-color: #f8c8d1 !important; /* Jasny różowy */
}

.table-pink th, .table-pink td {
  border-color: #f08080; /* Różowe obramowanie */
}

.table-pink tbody tr:nth-child(odd) {
  background-color: #f5e6ea; /* Jasno różowe tło dla nieparzystych wierszy */
}

.table-pink tbody tr:nth-child(even) {
  background-color: #f8c8d1; /* Jasny różowy tło dla parzystych wierszy */
}

.text-primary {
  color: #d63384 !important; /* Różowy tekst nagłówków */
}

.text-center {
  text-align: center;
}



body {
  width: 100vw;
  height: 120vh;
}


.tooltip-inner {
    background-color: #6a0dad !important;
    color: pink;
    font-size: 14px;
    padding: 8px;
    border-radius: 4px;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #6a0dad !important;
}

.custom-tooltip {
    position: relative;
    top: -35px !important; 
    left: -555px !important; 
    width: 200px;
    padding: 5px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
  }
  .custom-position-tooltip {
    position: absolute;
    transform: translate3d(454px, 383px, 0px) !important;
    top: -50px !important;
    left: -170px !important;
    will-change: transform;
    z-index: 1000; 
}
<script>
$(function () {
 $('[data-toggle="tooltip"]').tooltip();
});

</script>
</style>

</head>

  <body>
    <%= yield %>
  <script>
  $(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
    <style>
    
    </style>
  </body>
</html>
